<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>458350903807-n9fu18pd13bbr7vip39nnc0bgalfeh8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458350903807-n9fu18pd13bbr7vip39nnc0bgalfeh8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAXrhTrZop3Z_j8rMWXifAsVYDjHlMANmc</string>
	<key>GCM_SENDER_ID</key>
	<string>458350903807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FoxApps.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-foxapps</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-foxapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458350903807:ios:56f8cf7ccc03054a</string>
	<key>DATABASE_URL</key>
	<string>https://shoppinglist-foxapps.firebaseio.com</string>
</dict>
</plist>